@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/deep/ body {
  .ui-datepicker {
    font-family: 'Lato', sans-serif;

    table {
      td {
        padding: 0.3em;

        &.ui-datepicker-today > span {

          background-color: #375a7f !important;
          color: #fff;
        }
      }
    }
  }

  .ui-state-disabled {
    opacity: 1;
  }

  .ui-datepicker-month {
    font-size: 0.9375rem;
  }

  .ui-datepicker-other-month {
    opacity: 0;
  }
}
