<div class="d-flex flex-wrap my-2">
  <div *ngFor="let bill of bills" class="card mx-1 mb-3 bill" (click)="openEditBillForm(bill)">
    <div
      [ngClass]="{'bg-success': bill.isPaid, 'bg-warning': !bill.isPaid, 'bg-danger': !bill.isPaid && bill.isExpired}"
      class="card-header text-white">
      {{ bill.companyName }}
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li [ngClass]="{'text-danger': !bill.isPaid && bill.isExpired}" class="list-group-item">Deadline: {{ bill.deadlineDate | date: 'dd-MM-yyyy'}}</li>
        <li class="list-group-item">{{ bill.amount | number: '.2-2'}} zł</li>
      </ul>
    </div>
  </div>
  <app-add-new-bill></app-add-new-bill>
</div>